/* vh vw 값은 뷰트의 너비값과 높이값이다. 1/100 단위
(높이가 900px 이면 1vh는 9px)
*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
ul, ol, li{
    list-style: none;
}
a{
    text-decoration: none;
    outline: 0;
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: #333;
}
/* header 영역 */
main header{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10vh 5vw;
}
main header h1{
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #fff;
}
main header h1 i{
    font-size: 70px;
}
main header h1 span{
    font: normal 0.8vw/1 "arial";
    margin-top: 20px;
}
main header address{
    font: normal 11px/1.2 "arial";
    color: #888;
}

/* nav 영역*/
main nav{
    position: absolute;
    top: 10vh;
    right: 5vw;
    z-index: 3; /* main section 위에 배치하기 위함*/
}
main nav ul{
    display: flex;
    flex-direction: row;
}
main nav ul li a{
    font-size: 18px;
    color: #bbb;
    margin-left: 25px;
}

/* section 영역*/
main section{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
main section article{
    flex: 1; /* 모든 article 요소의 너비를 일정하게 지정 */
    padding: 70px 40px 100px;
    opacity: 0.6;
    cursor: pointer;
}
/* main section article::before{
    width: 80%;
    height: 95%;
    background-color: #444;
    position: absolute;
    top: 0px;
    background-color: #333;
} */
main section article .inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
main section .inner .txt{
    width: 100%;
    transition: 0.5%; /* 호버 시  전환 효과 */
}
main section .inner .txt h2{
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2vw;
    font-weight: normal;
    color: #fff;
    margin-bottom: 40px;

}